/*
Styles for index.html form
*/

body{
  display:flex;
  flex-flow:column nowrap;  
  flex-grow:1;
  flex-shrink: 1;
  background-color:floralwhite;
  align-items:center;
  overflow-y:scroll;
  margin: 0.5%;
}

.assignment-box, .assignment-editor, label, input{
  align-items:center;
  text-align:center;
  flex-flow: column nowrap;
  margin-top: 1%;
}