<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"> -->
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
       
       <form class="login" onsubmit="login()" method="post">
         <p>Login</p>
         <label>
            Username
            <input type="text" id="username" required>
         </label>
         <label>
            Password
            <input type="password" id="password" required>
         </label>
         <input type="submit">
       </form>
       <form class="signup" onsubmit="signup()" method="post">
        <p>Signup</p>
        <label>
            New Username
            <input type="text" id="newUsername" required>
        </label>
        <label>
            New Password
            <input type="password" id="newPassword" minlength="8" required>
        </label>
        <input type="submit">
       </form>
        <script class="questionScript">
            /**
             * Checks the login credentials
            */
            function login(){
                //get input values
                let username = document.querySelector("#username").textContent;
                let password = document.querySelector("#password").textContent;
                //check password and user with what is stored
                
                 //sign in the user by sending a link
                let form = document.querySelector(".login");
                let signup_data = new FormData(form);

                
            }

            /**
             * Signs up a new teacher account
            */
            function signup(){
                //get input values
                let username = document.querySelector("#newUsername").textContent;
                let password = document.querySelector("#newPassword").textContent;
                //ensure there are no conflicts with exisiting credentials 
                //sign in the user by redirecting
                let form = document.querySelector(".signup");
                let signup_data = new FormData(form);
            }

          
        </script>
        
    </body>
</html>