<!DOCTYPE html>
<html lang="en">
    <head>
    {% block headers %}
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        {#<!--  <link rel="stylesheet" href="../static/css/styles.css"> -->#}
        <script src="{{ url_for('static', filename='js/navbar.js') }}" defer></script>

        {% endblock %}
    {% block extraHeaders %}
        {# extra headers #}
    {% endblock%}
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="{{url_for('home')}}">
                        Login
                    </a>
                    <a href="{{url_for('create_questions')}}">
                        Assign
                    </a>
                    <a href="{{url_for('submit_answers', assignment_id=0)}}">
                        Submit Assignment
                    </a>
                    <input type="number" id="submitNumber"class="inline">
                    <a href="{{url_for('revise', assignment_id=0)}}"> 
                        Revise
                    </a>
                    <input type="number" id="reviseNumber"class="inline">
                    <a href="{{url_for('share', assignment_id=0)}}">
                        Share
                    </a>
                    <input type="number" id="shareNumber"class="inline">
                    <a href="{{url_for('view')}}">
                        View
                    </a>
                    {#<!-- <input type="number" id="viewNumber"class="inline"> -->#}
                </li>
            </ul>
        </nav>
    {%block body%}
    {%endblock%}
    </body>
</html>