<!DOCTYPE html>
<html lang="en">
    <head>
    {% block headers %}
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        {#<!--  <link rel="stylesheet" href="../static/css/styles.css"> -->#}
    {% endblock %}
    {% block extraHeaders %}
        {# extra headers #}
    {% endblock%}
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="login">Login</a>
                    <a href="./assign">Assign</a>
                    <a href="./submit-assignment/">
                        Submit Assignment
                        <input type="number" class="inline">
                    </a>
                    <a href="./revise/"> 
                        Revise
                        <input type="number" class="inline">
                    </a>
                    <a href="./share/">
                        Share
                        <input type="number" class="inline">
                    </a>
                </li>
            </ul>
        </nav>
    {%block body%}
    {%endblock%}
    </body>
</html>