{% extends "base.html" %}

    {%block body%}
        <h2>
            Login To Account
        </h2>
        <form class="Login" action="" method="post">
            {{ login_form.hidden_tag() }}
            {{ login_form.username.label }}
            {{ login_form.username }}
            {{ login_form.password.label }}
            {{ login_form.password }}
            {{ login_form.remember_me.label }}
            {{ login_form.remember_me }}
            {{ login_form.submit.label }}
            {{ login_form.submit }}
            <!-- <label>
                Username
                <input type="text" id="username" required>
            </label>
            
            <label>
                Password
                <input type="password" id="password" required>
            </label>
            <input type="submit"> -->
        </form>

        <h2>
            Create New Account
        </h2>
        <form class="Signup" action="" method="post">
            {{ signup_form.hidden_tag() }}
            {{ signup_form.username.label }}
            {{ signup_form.username }}
            {{ signup_form.password.label }}
            {{ signup_form.password }}
            {{ signup_form.submit.label }}
            {{ signup_form.submit }}
            <!-- <p>Signup</p>
            <label>
                New Username
                <input type="text" id="newUsername" required>
            </label>
            <label>
                New Password
                <input type="password" id="newPassword" minlength="8" required>
            </label>
            <input type="submit"> -->
        </form>
        <script class="questionScript">
            /**
             * Checks the login credentials
            */
            async function login(){
                //get input values
                // let username = document.querySelector("#username").textContent;
                // let password = document.querySelector("#password").textContent;
                //check password and user with what is stored
                
                 //sign in the user by sending a link
                let form = document.querySelector(".login");
                let signin_data = new FormData(form);
                await fetch("./login.html", {
                    body: signin_data,
                    method: "POST"},
                );
            }

            /**
             * Signs up a new teacher account
            */
            async function signup(){
                //get input values
                // let username = document.querySelector("#newUsername").textContent;
                // let password = document.querySelector("#newPassword").textContent;
                //ensure there are no conflicts with exisiting credentials 
                //sign in the user by redirecting
                let form = document.querySelector(".signup");
                let signup_data = new FormData(form);
                await fetch("./login.html", {
                    body: signup_data,
                    method: "POST"
                },
            );
            }

          
        </script>
    {%endblock%}
