<!-- {# HTML page to share the qr code and link for students to visit the form #} -->
<!-- {#
    To do: make the link specific: instructor_id/share.html 
    so different instructors can share different links
      #} 
-->
{% extends 'base.html' %}

{% block body %}
{# access these from the db  or render_template params#}
<h1>Link to assignment: </h1>
<a href="./submit-assignment/{{assignment_id}}"><h3>./submit-assignment/{{assignment_id}}</h3></a>
<div id="qrCode">
  {{qrCode}}
</div>
{% endblock%}