<!-- {# HTML page to share the qr code and link for students to visit the form #} -->
<!-- {#
    To do: make the link specific: instructor_id/share.html 
    so different instructors can share different links
      #} 
-->
{% extends 'base.html' %}
{% block extraHeaders%}
  <!-- for qrcode generation -->
  <script src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
{% endblock %}

{% block body %}
{# access these from the db  or render_template params#}
<h1>Link to assignment: </h1>
<a href="{{host_url}}submit-assignment/{{assignment_id}}">
  <h3>{{host_url}}submit-assignment/{{assignment_id}}</h3>
</a>
<label for="qrGenerator">Generate QR Code</label>
<input id="qrGenerator"type="button" onclick="createQR()" >
<div id="{{host_url}}submit-assignment/{{assignment_id}}" class="qrCode">
  
</div>
<script>
  
  //document.addEventListener("DOMContentLoaded", () =>{
  function createQR(){
    const url = document.querySelector("a").href;
    const qrDiv = document.querySelector("div.qrCode");
    console.log("url:"+ url)
    console.log("id:" + qrDiv.id)
    const qrcode = new QRCodeStyling( {
      data: url,
      width: 250,
      height: 250,
      dotsOptions: {
        color: "#000",
        type: "rounded" // You can do "square", "dots", etc.
      },
      backgroundOptions: {
        color: "#fff",
      }
    });
    qrDiv.innerHTML = ""
    qrcode.append(qrDiv)
  }
  //});
  
</script>
{% endblock%}