{% extends "base.html" %}

{%block body%}
    {% if view %}
        <h1>Assignment {{ assignment_id }}</h1>

        <h3>Submission</h3>
        <div id="submissionViewBox" >
            {% for question in questions %}
            <div class="questionGroup">
                <p class="question">
                        {{ question.question}}
                </p>
                <p class="erroneousAnswer">
                        {{question.erroneousAnswer}}
                </p>
                <p class="expected">
                        {{question.error_class}}
                </p>
                <p class="answer">
                        {{question.answer}}
                </p>
            </div>
            {% endfor %}
        </div>

        <h3> Revisions </h3>
        <div id="revisionsViewBox">
            {% for revision in revisions %}
                <div class="questionGroup">
                    <h5>Revision {{ loop.index }}</h5>
                    <p class="question">
                        {{ revision.question}}
                    </p>
                    <p class="erroneousAnswer">
                        {{revision.erroneousAnswer}}
                    </p>
                    <p class="expected">
                        {{revision.error_class}}
                    </p>
                    <p class="answer">
                        {{revision.answer}}
                    </p>
                    <p class="comment">
                        {{revision.comment}}
                    </p>
                </div>
            {% endfor %}
        </div>
        
    {% else %}

        <h3> Enter Student ID and Assignment ID to view Student submissions </h3>
        <form class="lookup" method="post">
            {{lookup.hidden_tag()}}
            {{lookup.student_id.label}}
            {{lookup.student_id()}}
            {{lookup.assignment_id.label}}
            {{lookup.assignment_id()}}
            {{lookup.submit()}}
        </form>

    {%endif%}
{% endblock%}